:root {
    --md-default-fg-color:               hsla(0, 0%, 0%, 0.87);
    --md-default-fg-color--light:        hsla(0, 0%, 0%, 0.54);
    --md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.32);
    --md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
    --md-default-bg-color:               hsla(0, 0%, 100%, 1);
    --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
    --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
    --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);
  
    --md-primary-fg-color:               #6CB86A;
    --md-primary-fg-color--light:        #ECB7B7;
    --md-primary-fg-color--dark:         #90030C;
    --md-primary-bg-color:               hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  
    --md-accent-fg-color:                #e95c67;
    --md-accent-fg-color--transparent:   #e95c67;
    --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);
  

    --md-code-fg-color:                hsla(200, 18%, 26%, 1);
    --md-code-bg-color:                hsla(0, 0%, 96%, 1);

    --md-code-hl-color:                hsla(#{hex2hsl($clr-yellow-a200)}, 0.5);
    --md-code-hl-number-color:         hsla(0, 67%, 50%, 1);
    --md-code-hl-special-color:        hsla(340, 83%, 47%, 1);
    --md-code-hl-function-color:       hsla(291, 45%, 50%, 1);
    --md-code-hl-constant-color:       hsla(250, 63%, 60%, 1);
    --md-code-hl-keyword-color:        hsla(219, 54%, 51%, 1);
    --md-code-hl-string-color:         hsla(150, 63%, 30%, 1);
    --md-code-hl-name-color:           var(--md-code-fg-color);
    --md-code-hl-operator-color:       var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color:    var(--md-default-fg-color--light);
    --md-code-hl-comment-color:        var(--md-default-fg-color--light);
    --md-code-hl-generic-color:        var(--md-default-fg-color--light);
    --md-code-hl-variable-color:       var(--md-default-fg-color--light);

    --md-typeset-color:                var(--md-default-fg-color);

    --md-typeset-a-color:              var(--md-primary-fg-color);

    --md-typeset-mark-color:           hsla(#{hex2hsl($clr-yellow-a200)}, 0.5);

    --md-typeset-del-color:            hsla(6, 90%, 60%, 0.15);
    --md-typeset-ins-color:            hsla(150, 90%, 44%, 0.15);

    --md-typeset-kbd-color:            hsla(0, 0%, 98%, 1);
    --md-typeset-kbd-accent-color:     hsla(0, 100%, 100%, 1);
    --md-typeset-kbd-border-color:     hsla(0, 0%, 72%, 1);

    --md-typeset-table-color:          hsla(0, 0%, 0%, 0.12);

    --md-admonition-fg-color:          var(--md-default-fg-color);
    --md-admonition-bg-color:          var(--md-default-bg-color);

    --md-footer-fg-color:              hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light:       hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter:     hsla(0, 0%, 100%, 0.3);
    --md-footer-bg-color:              hsla(0, 0%, 0%, 0.87);
    --md-footer-bg-color--dark:        hsla(0, 0%, 0%, 0.32);
  }